.favicon{
    margin-left: 10%;
    transition:  500ms;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.nav-a{
    display: inline-block !important;
    height: 100%;
    line-height: 50px;
    text: center !important;
    transition:  500ms;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.hamburger{
    display: none;
    opacity: 0;
}
.stripe {
    width: 200px;
    height: 5px;
    background: blue;
    position: absolute;
    bottom: 0;
    transition:  400ms ease-in-out;
    pointer-events: none;
}
.container{
    padding-top: 66px;
}
.collapse{
    z-index: 3;
}
.LoadContent {
    opacity: 0;
    z-index: 2;
    display: block ;
    margin-top: 0 !important;
}
.nav-item:hover .animation{
    z-index: 2;
    display: block;
    margin-top: 0;
    opacity: 100%;
    animation-name: menu1;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    pointer-events: auto;
}
@keyframes menu1 {
    0% {opacity: 0}
    100%{opacity: 100%}
}
.dropdown-menu {
    position: absolute !important;
    left: 0 !important;
    z-index: 2;
    border-radius: 0 !important;
    border: 0 !important;
    background: #F2F2F2 !important;
}

.dropdown-menu a {
    z-index: 2;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
@media screen and (max-width: 1344px){
    .favicon{
        margin-left: 3%;
    }
}
@media screen and (max-width: 1280px){

    .nav-a{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
}
@media screen and (max-width: 1118px){
    .hamburger{
        display: block;
        transition:  0.4s;
        opacity: 100%;
    }
    .navbar-nav{
        height: 45px;
        transition:  0.4s;
        opacity: 0;
    }
    .search{
        height: 45px;
        transition:  0.4s;
        opacity: 0;
    }
}
@media screen and (max-width: 1115px){
    .search{
        display: none
    }
    .navbar-nav {
        display: none !important;
    }
}

.search{
    min-width: 236px;
    min-height: 45px;
}
.searchTextBox{
    max-width: 180px;
    max-height: 37px;
}
.line{
    padding-left: 1rem;
    padding-right: 1rem;
}
.user{
    padding-right: 1rem;
}
.rightBar{
    max-height: 45px;
}
